<% content_for :title, "Editing pet friendship" %>

<h1>Editing pet friendship</h1>

<%= render "form", pet_friendship: @pet_friendship %>

<br>

<div>
  <%= link_to "Show this pet friendship", @pet_friendship %> |
  <%= link_to "Back to pet friendships", pet_friendships_path %>
</div>
