<%= turbo_stream.replace dom_id(@pet_friendship, :notification_actions) do %>
  <div id="<%= dom_id(@pet_friendship, :notification_actions) %>" class="d-flex gap-2">
    <span class="btn btn-sm btn-outline-secondary disabled">
      <%= @pet_friendship.status.titleize %>
    </span>
  </div>
<% end %>
