<p style="color: green"><%= notice %></p>

<% content_for :title, "Walk participants" %>

<h1>Walk participants</h1>

<div id="walk_participants">
  <% @walk_participants.each do |walk_participant| %>
    <%= render walk_participant %>
    <p>
      <%= link_to "Show this walk participant", walk_participant %>
    </p>
  <% end %>
</div>

<%= link_to "New walk participant", new_walk_participant_path %>
