<% content_for :title, "New walk participant" %>

<h1>New walk participant</h1>

<%= render "form", walk_participant: @walk_participant %>

<br>

<div>
  <%= link_to "Back to walk participants", walk_participants_path %>
</div>
