<% content_for :title, "Editing user friendship" %>

<h1>Editing user friendship</h1>

<%= render "form", user_friendship: @user_friendship %>

<br>

<div>
  <%= link_to "Show this user friendship", @user_friendship %> |
  <%= link_to "Back to user friendships", user_friendships_path %>
</div>
