<% content_for :title, "New user friendship" %>

<h1>New user friendship</h1>

<%= render "form", user_friendship: @user_friendship %>

<br>

<div>
  <%= link_to "Back to user friendships", user_friendships_path %>
</div>
