<li id="<%= dom_id(comment) %>" class="list-group-item">
  <div class="d-flex justify-content-between">
    <div>
      <strong>
        <%= link_to comment.author.username, user_path(comment.author.username), class: "text-decoration-none" %>
      </strong>

      <span class="text-muted">
        &middot; <%= time_ago_in_words(comment.created_at) %> ago
      </span>
    </div>
  </div>

  <p class="mb-0 mt-1">
    <%= comment.body %>
  </p>
</li>
