<div class="card">
  <div class="card-body">
    <h5 class="card-title">Quick actions</h5>

    <div class="d-grid gap-2">
      <button type="button"
              class="btn btn-outline-primary"
              data-bs-toggle="modal"
              data-bs-target="#createWalkModal">
        Create walk
      </button>

      <button type="button"
              class="btn btn-outline-primary"
              data-bs-toggle="modal"
              data-bs-target="#addPetModal">
        Add pet
      </button>
    </div>
  </div>
</div>
