<div class="fs-5 border-bottom mb-3">
  <%= link_to :back, class: "text-decoration-none" do %>
    ← Back
  <% end %>
</div>

<%= render @post %>

<hr>

<h3>Add a comment</h3>

<%= render "comments/form", comment: @post.comments.build %>
