<% target_id = local_assigns.fetch(:target_id, dom_id(walk_event, :participant_count)) %>

<% participant_count =
     if walk_event.walk_participants.loaded?
       walk_event.walk_participants.to_a.count do |participant|
         participant.status.in?(["joined", "attended"])
       end
     else
       walk_event.confirmed_participants.count
     end %>

<span id="<%= target_id %>">
  Participants: <%= participant_count %>
</span>
