<p style="color: green"><%= notice %></p>

<% content_for :title, "Walk events" %>

<h1>Walk events</h1>

<div id="walk_events">
  <% @walk_events.each do |walk_event| %>
    <%= render walk_event %>
    <p>
      <%= link_to "Show this walk event", walk_event %>
    </p>
  <% end %>
</div>

<%= link_to "New walk event", new_walk_event_path %>
