<% if local_assigns[:post].present? %>
  <li id="<%= dom_id(post, :list_item) %>" class="list-group-item list-group-action-item">
    <%= yield %>
  </li>
<% else %>
  <li class="list-group-item list-group-action-item">
    <%= yield %>
  </li>
<% end %>
